body {
    font-family: 'Montserrat', sans-serif;
    background-color: black;
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
}

body img {
    width: 200px;
    height: auto;
    margin: 20px auto;
    display: block; 
}

.content {
    margin: 40px auto;
    padding: 20px;
    max-width: 1200px;
    border: 2px solid white;
    display: block;
}

.sports, .players, .artist {
    margin: 20px;
    padding: 10px;
}

ol, ul {
    text-align: left;
    list-style-position: inside;
}

ol li, ul li {
    margin-bottom: 20px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin: 30px
}

a:hover {
    text-decoration: underline;
}

ol li img, ul li img, .artist img {
    display: block;
    margin: 10px auto;
    max-width: 300px;
    max-height: 300px;
    width: auto;
    height: auto;
    object-fit: contain;
}


.artist img {
    width: 100%; 
    max-width: 300px;
    height: auto;
}